<a href="https://colab.research.google.com/github/pietro-ops/Toystore/blob/main/2_Travel_agency_database_challenge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 ![Emil]()

# Travel agency

Today, you are working at a travel agency. All the cities covered by this agency are stored in a Python dictionary.


They need your newly acquired Python skills to develop useful functions!

## Information for one city

The information pertaining to a city is provided in a single dictionary. Let's take a look at an example below.

Please note that:
- `location` corresponds to latitude and longitude
- `prefecture_level` is measured in km<sup>2</sup> (squared kilometers)

In [16]:
paris_city = {"name": "Paris",
              "total_population": 2102650,
              "continent": "Europe",
              "location": [48.8566, 2.3522],
              "area": {
                  "prefecture_level": 105.4
              }}

What is the data type of the value of `location`? What about `area`?

In [19]:
location_type = type(paris_city["location"])
print(location_type)

area_type = type(paris_city["area"])
print(area_type)

<class 'list'>
<class 'dict'>

How do we get the `prefecture_level` from `paris_city` ?

In [23]:
print(paris_city["area"]["prefecture_level"])

105.4

How do we get the `longitude` from `paris_city` ?

In [24]:
print(paris_city["location"][1])

2.3522

Create a function `get_key_value_from_city` that takes two arguments `city` and `key` and outputs the `key` value from the city.



__Eg__: `get_key_value_from_city(city=paris_city, key="total_population")` will output 2102650


<u>Note:</u> If a property doesn't exist, the function should return "_property_ not defined"

In [41]:
# create the function with the selected arguments
def get_key_value_from_city(city=paris_city, key="total_population"):

  # to be completed
  # set default output
 result = "property not defined"

  # to be completed
  # set the output if the required key exists in the selected city
 if key in city:
   return city[key]
 else:
   return result
# to be completed
# test the function with the given example
print(get_key_value_from_city())

2102650

## Information for all cities

The travel agency has collected multiple cities information where it manages accommodations. \
All of these cities are stored in a Python list called `cities`.

Execute the cell below to load data. How many cities do they have?

In [42]:
cities = [
    {
        "name": "Paris",
        "total_population": 2102650,
        "continent": "Europe",
        "location": [48.8566, 2.3522],
        "area": {
            "prefecture_level": 105.4
        }
    },
    {
        "name": "Xiâ€™an",
        "total_population": 12328000,
        "continent": "Asia",
        "location": [34.2667, 108.9000],
        "area": {
            "prefecture_level": 10762
        }
    },
    {
        "name": "Chengdu",
        "total_population": 14645000,
        "continent": "Asia",
        "location": [30.6600, 104.0633],
        "area": {
            "prefecture_level": 14378
        }
    },
    {
        "name": "Los Angeles",
        "total_population": 12121244,
        "continent": "North America",
        "location": [34.1141, -118.4068],
        "area": {
            "prefecture_level": 1299
        }
    },
    {
        "name": "Brooklyn",
        "total_population": 2736074,
        "continent": "North America",
        "location": [40.6501, -73.9496],
        "area": {
            "prefecture_level": 180
        }
    }
]

In [44]:
len(cities)

5

### Reading value

By utilizing your previous function `get_key_value_from_city` create a new one that will take two arguments: a `city_name` and a `key`.

If the city is not in the list, the function should return "*city* doesn't exist or is not covered".

Test your function with multiple examples.

In [53]:
# create the function with the selected arguments
def get_key_value_from_city(city,key):

  # to be completed
  # set default output


  # to be completed
  # start the loop over cities
  # "city" is the variable we use to identify dictionaries into cities list

 for dictionary in cities:
        if dictionary["name"]== city:
          return dictionary[key]
 return "not found"
    # to be completed
    # set the output if the required key exists in the selected city


# to be completed

In [61]:
get_key_value_from_city("Paris","total_population")

2102650

### Update value

Sometimes, city information can be incorrect or require updates.

Create a `modify_city_key_value` function that replaces an existing key's value with a new one. \
It takes three arguments: a `city_name`, a `key` and a new`value` to assign to the key.

The function will generate a text message indicating one of the following scenarios:

- If the city doesn't exist or is not covered: "*city* doesn't exist or is not covered."
- If the provided key doesn't exist: "*key* doesn't exist."
- If the key has been successfully updated for the city: "*key* has been updated for *city*."

In [63]:
# create the function with the selected arguments

def modify_city_key_value(city_name, key, value):

  # to be completed
  # set default output



  # to be completed
  # start the loop over cities

 for dictionary in cities:
        if dictionary["name"]== city_name:
          return dictionary[key][value]

    # to be completed
    # set the different outputs depending on whether the key exists

# to be completed
# test the function with examples
# create the function with the selected arguments

  # to be completed
  # set default output


  # to be completed
  # set the output if the required key exists in the selected city

# to be completed
# test the function with the given example

In [65]:
modify_city_key_value("Paris", "total_population")

TypeError: modify_city_key_value() missing 1 required positional argument: 'value'

In [42]:
# create the function with the selected arguments
def get_key_value_from_city(city, key):

  # to be completed
  # set default output
 result = "property not defined"

  # to be completed
  # set the output if the required key exists in the selected city
 if key in city:
   return city[key]
 else:
   return result
# to be completed
# test the function with the given example

In [46]:
paris_city

get_key_value_from_city(paris_city,"barcelona")

'property not defined'

## Search engine

It is quite common for customers to seek destinations that are not far from their current location in order to minimize transportation costs.


The travel agency requires your assistance in developing a function that can provide a list of nearby cities.

### Geopy

Execute the two cells below to see to observe how we can calculate the distance between two locations. \
Thanks to the [Geopy](https://geopy.readthedocs.io/en/stable/#) library,  this process is quite straightforward.

In [41]:
!pip install geopy
from geopy import distance

Requirement already satisfied: geopy in /usr/local/lib/python3.10/dist-packages (2.3.0)
Requirement already satisfied: geographiclib<3,>=1.52 in /usr/local/lib/python3.10/dist-packages (from geopy) (2.0)

In [39]:
newport_ri = [41.49008, -71.312796]
cleveland_oh = [41.499498, -81.695391]

print(distance.distance(newport_ri, cleveland_oh).km)

866.4554329098685

What is the data type of `distance.distance(newport_ri, cleveland_oh)`?

In [40]:
#your code here

<details>
    <summary>Answer ðŸ’¡</summary>
    
It's a `geopy.distance.geodesic` object.
</details>

### Design the search engine

Create a function `get_cities_nearby` that takes two arguments:
- `customer_location`: a list of coordinates in the format [lat, long]


- `radius`: the threshold in km

And returns a `list of cities` located near the provided customer_location.

If no city has been found, the function should return an empty list.

You can use the city of Guangyan in China (coordinates [32.4355, 105.8436]) and a radius of 500km to test your function.

You should find that Xi'an and Chengdu are not very far...

In [ ]:
# create the function with the selected arguments

Congratulations ! ðŸŽ‰ \
You now have a search function ready for the travel agents to use !